<!doctype html>
<html lang="RU" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Shop Control</title>

</head>
<body>

<div th:insert="\template\header :: navbar"></div>
<div style="width: 80rem; margin: auto; margin-top: 5rem">
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">Наименование товара</label>
                <input type="text" class="form-control" id="name" readonly th:value="${product.name}">
            </div>
            <div class="form-group col-md-2">
                <label for="countOfProduct">Количество товра</label>
                <input type="number" class="form-control" id="countOfProduct" name="countOfProduct">
            </div>
            <div style="display:none">
                <input type="text" class="form-control" id="producer" name="producer" readonly>
            </div>

            <div class="form-group col-md-3">
                <label for="producerName">Поставщик</label>
                <input type="text" class="form-control" id="producerName" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="price">Цена</label>
                <input type="number" class="form-control" id="price" name="price" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="total">Итого</label>
                <input type="number" class="form-control" id="total" readonly>
            </div>
        </div>
        <div class="alert alert-success" role="alert" id="suc" style="display:none">
            Продукт успешно добавлен.
        </div>
        <div class="alert alert-danger" role="alert" id="err" style="display:none">
            A simple danger alert—check it out!
        </div>
        <button th:onclick="'createOrder(' + ${product.id} + ')'" type="button" class="btn btn-primary">Создать</button>
    </form>

    <h1>Поставщики</h1>
    <table class="table table-hover" id="producers">
        <thead>
        <tr>
            <th scope="col">
                <a onclick='sort({"sortField" : "name"})'>
                    Наименование <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'"
                                      width="20" height="20"
                                      th:style="${sortField == 'name' ? 'opacity:1' : 'opacity:0'}">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "timeForDelivery"})'>
                    Время доставки (в днях) <img
                        th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20"
                        height="20" th:style="${sortField == 'timeForDelivery' ? 'opacity:1' : 'opacity:0'}"
                        style="margin-right: -100%">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "address"})'>
                    Адрес <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20"
                               height="20" th:style="${sortField == 'address' ? 'opacity:1' : 'opacity:0'}">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "distance"})'>
                    Растояние <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'"
                                   width="20" height="20"
                                   th:style="${sortField == 'distance' ? 'opacity:1' : 'opacity:0'}"
                                   style="margin-right: -100%">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "price"})'>
                    Цена <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20"
                              height="20" th:style="${sortField == 'price' ? 'opacity:1' : 'opacity:0'}"
                              style="margin-right: -100%">
                </a>
            </th>
            <th scope="col">

            </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="producer : ${producers}">

            <tr th:onclick="'selectProducer(' + ${producer.id} + ')'"
                th:id="'prod' + ${producer.id}"
                th:data-name="${producer.name}"
                th:data-timeForDelivery="${producer.timeForDelivery}"
                th:data-price="${producer.price}"
            >
                <th scope="col" th:text="${producer.name}" ></th>

                <th scope="col" th:text="${producer.timeForDelivery}" ></th>
                <th scope="col"
                    th:text="${producer.address.city + ' ' + producer.address.street + ' ' + producer.address.house}" ></th>
                <th scope="col" th:text="${producer.distance}"></th>
                <th scope="col" th:text="${producer.price}" ></th>

            </tr>
        </th:block>

        </tbody>
    </table>
    <td> <form th:action="'/product/' + ${product.id} + '/producer/create'" method="get">
        <input class="btn btn-primary" type="submit" value="Добавить поставщика"/>
    </form>
</div>


</body>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>




<script th:inline="javascript">

/*<![CDATA[*/
    var productId = /*[[${product.id}]]*/
    var sortParam = {
        "sortField" : /*[[${sortField}]]*/,
        "isDesc" : /*[[${isDesc}]]*/,

    }
       /*]]>*/

function sort(o) {
    if (o["sortField"] == sortParam["sortField"]) {
        sortParam["isDesc"] = !sortParam["isDesc"]
    }
    sortParam["sortField"] = o["sortField"]

    window.location.replace("/product/" + productId + "/order/create?" + $.param(sortParam))

}


$("#countOfProduct").change(e => {
    if ($("#countOfProduct").val() <= 0)
        return;
    $("#total").val($("#price").val() * $("#countOfProduct").val())
})


function selectProducer(id) {
    $("#producer").val(id)
    $("#producerName").val($("#prod" + id).attr("data-name"))
    $("#price").val($("#prod" + id).attr("data-price"))
    if ($("#countOfProduct").val() <= 0)
        return;
    $("#total").val($("#price").val() * $("#countOfProduct").val())
}

async function createOrder(id) {

    var order = {}
    order["product"] = {"id" : id};
    order["orderDate"] = new Date().toISOString().slice(0,10);


    $('form').serializeArray().forEach((i) => {
        order[i.name] = i.value
    })
    order["producer"] = {id: order["producer"]}
    order["stateIsArrived"] = false
    console.log(order)
    if (order["count"] <= 0) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Количество должно быть положительным числом")
         return;
    }

    if (!order["producer"].id) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Необходимо выбрать поставщика")
         return;
    }

    console.log(order);

    var response = await fetch("/product/" + id + "/order/create",{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(order)
    })
    if (response.ok) {
        window.location.replace("/order");
    } else {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
        console.log(response)
        $("#err").html()
    }

}


</script>
</html>