<!doctype html>
<html lang="RU" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Shop Control</title>

</head>
<body>

<div th:insert="\template\header :: navbar"></div>
<div style="width: 80rem; margin: auto; margin-top: 5rem">

    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="id">Номер продажи</label>
                <input type="text" class="form-control" id="id" readonly th:value="${sale.id}">
            </div>
            <div class="form-group col-md-3">
                <label for="productName">Наименование товара</label>
                <input type="text" class="form-control" id="productName" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="count">Количество товра</label>
                <input type="number" class="form-control" id="count" name="count" min="1" max="1">
            </div>

            <div class="form-group col-md-2">
                <label for="price">Цена</label>
                <input type="number" class="form-control" id="price" name="price" min="1">
            </div>

            <div style="display:none">
                <input type="hidden" class="form-control" id="batch" name="batch" readonly>
            </div>

            <div class="form-group col-md-2">
                <label for="total">Итого</label>
                <input type="number" class="form-control" id="total" readonly>
            </div>
        </div>
        <div class="alert alert-success" role="alert" id="suc" style="display:none">
            Продукт успешно добавлен.
        </div>
        <div class="alert alert-danger" role="alert" id="err" style="display:none">
            A simple danger alert—check it out!
        </div>
        <button th:onclick="'addItem(' + ${sale.id} + ')'" type="button" class="btn btn-primary">Добавить</button>
    </form>

    <h1>Склад</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                <a onclick='sort({"sortField" : "id"})'>
                    Номер партии <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'"
                                      width="20" height="20"
                                      th:style="${sortField == 'id' ? 'opacity:1' : 'opacity:0'}">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "product.name"})'>
                    Название продукта <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'"
                                           width="20" height="20"
                                           th:style="${sortField == 'product.name' ? 'opacity:1' : 'opacity:0'}">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "productionDate"})'>
                    Дата игатовления <img
                        th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20" height="20"
                        th:style="${sortField == 'productionDate' ? 'opacity:1' : 'opacity:0'}"
                        style="margin-right: -100%">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "expirationDate"})'>
                    Дата истечения срока годности <img
                        th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20" height="20"
                        th:style="${sortField == 'expirationDate' ? 'opacity:1' : 'opacity:0'}"
                        style="margin-right: -100%">
                </a>
            </th>

            <th scope="col">
                <a onclick='sort({"sortField" : "countLeft"})'>
                    В наличии <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20"
                                    height="20" th:style="${sortField == 'countLeft' ? 'opacity:1' : 'opacity:0'}"
                                    style="margin-right: -100%">
                </a>
            </th>
            <th scope="col">
                <a onclick='sort({"sortField" : "conditionIsSpoiled"})'>
                    Состояние <img th:src="${isDesc} ? '/static/img/desc.png' : '/static/img/enc.png'" width="20"
                                   height="20"
                                   th:style="${sortField == 'conditionIsSpoiled' ? 'opacity:1' : 'opacity:0'}"
                                   style="margin-right: -100%">
                </a>
            </th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="batch : ${batches}" >
            <tr th:id="'b' + ${batch.id}" th:data-name="${batch.product.name}" th:data-countLeft="${batch.countLeft}" th:onclick="'selectBatch(' + ${batch.id} + ')'">
                <th scope="col" th:text="${batch.id}"></th>
                <th scope="col" th:text="${batch.product.name}"></th>
                <th scope="col" th:text=" ${batch.productionDate}"></th>
                <th scope="col" th:text=" ${batch.expirationDate}"></th>
                <th scope="col" th:text="${batch.countLeft}"></th>
                <th scope="col" th:text="${batch.conditionIsSpoiled ? 'Прострочен' : 'Не просрочен'}"></th>
            </tr>
        </th:block>

        </tbody>
    </table>
</div>


</body>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>


<script th:inline="javascript">

/*<![CDATA[*/
    var saleId = /*[[${sale.id}]]*/
    var sortParam = {
        "sortField" : /*[[${sortField}]]*/,
        "isDesc" : /*[[${isDesc}]]*/,

    }
       /*]]>*/

 function selectBatch(id) {
    $("#batch").val(id)
    $("#productName").val($("#b" + id).attr("data-name"))
    $("#count").attr({max: $("#b" + id).attr("data-countleft")})

}

$('#price').change(e => {
    $("#total").val($("#price").val() * $("#count").val())
    if (!$("#total").val() > 0)
        $("#total").val("")
})

$('#count').change(e => {

    $("#total").val($("#price").val() * $("#count").val())
    if (!$("#total").val() > 0)
        $("#total").val("")
})


function sort(o) {
    if (o["sortField"] == sortParam["sortField"]) {
        sortParam["isDesc"] = !sortParam["isDesc"]
    }
    sortParam["sortField"] = o["sortField"]

    window.location.replace("/sale/" + saleId + "sale-item/add?" + $.param(sortParam))
}

async function addItem(id) {

    var item = {}
    item["sale"] = {"id" : id};



    $('form').serializeArray().forEach((i) => {
        item[i.name] = i.value
    })
    item["batch"] = { "id": item["batch"] }



    if (item["count"] <= 0) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Количество должно быть положительным числом")
         return;
    }

     if (item["count"] >= $("#p"+id).attr("data-countLeft")) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Закупаемое количество не должно превышать остаток ")
         return;
    }

    if (item["price"] <= 0) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Количество должно быть положительным числом")
         return;
    }

    if (!item["batch"].id) {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
         $("#err").html("Необходимо выбрать партию")
         return;
    }
    console.log(item);

    var response = await fetch("/sale/" + id + "/sale-item/add",{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(item)
    })
    if (response.ok) {
        console.log("ok")
        $("#err").css("display", "none")
        $("#suc").css("display", "block")
    } else {
        $("#err").css("display", "block")
        $("#suc").css("display", "none")
        console.log(response)
        $("#err").html()
    }

}


</script>
</html>